*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Gilroy;
}
html,body{
   height: 100%;
   width: 100%;
   background-color: rgb(251, 251, 251);
}
.main{
    min-height: 100vh;
    min-width: 100vw;
}
.nav{
    height: 10vh;
    min-width: 100vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
.maincon{
    font-family: Gilroy;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-left: -35vw;
    opacity: 0.6;
}
.button>button{
    font-size: 10px;
    padding:10px 17px;
    border-radius: 8px;
    background-color: rgb(94, 94, 177);
    color: #fff;
    border: none;
    cursor: pointer;
}
.logo{
    background-image: url(./assets/Logo.png);
}
img{
    position: absolute;
    top: 53%;
    left: 75%;
    transform: translate(-50%,-50%);
    height: 80vh;
    width: 50vw;
}
.content{
    position: absolute;
    left: 10%;
    top: 25%;
}
.contentpage>p{
    font-size: 65px;
    font-weight: 100;
    word-spacing: 10px;
}
.content>p{
    margin-top: 20px;
    width: 280px;
    text-align: justify;
    font-size: 10px;
    opacity: 0.6;
}
.blue-text{
    color: rgb(108, 108, 184);
    opacity: 0.7;
}
.content>button{
    margin-top: 27px;
    background-color: rgb(88, 88, 178);
    color: #fff;
    border-radius: 8px;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
}