*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}html,body{
   height: 100%;
   width: 100%;
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(252, 252, 252);
}
.nav{
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 40px;
}
.logo>img{
    height: 30px;
}
.menu{
    display: flex;
    gap: 40px;
}
.menu>a{
    font-family: Gilroy;
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;
    color: black;
}
.menu>a:hover{
    border-bottom: solid 1.5px black;
}
.search-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.search-button>button{
    padding: 3px 19px;
    border-radius: 8px;
    border: 1.5px solid rgba(0, 0, 0, 0.816);
}
.main-photo{
    display: flex;
    align-items: center;

}
.main-img>img{
    height: 400px;
    width: 350px;
    position: absolute;
    top: 19%;
    left: 4%;
    border-radius: 4px;
}
.background-img>img{
    position: absolute;
    top: 43%;
    left: 15%;
    height: 300px;
    width: 250px;
}
.main-content{
    width: 40%;
    position: absolute;
    left: 50%;
    top: 20%;
    text-align: center;
}
.big-text{
    font-size: 50px;
}
.small-text{
    margin-top: 50px;
}
.button{
    margin-top: 70px;
}
.button
.contact{
    margin-top: 120px;

}